doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/fa/font-awesome.min.css')
    link(rel='stylesheet', href='/leaflet/leaflet.css')
    link(rel='stylesheet', href="/leaflet/leafletCluster/MarkerCluster.css")
    link(rel='stylesheet', href="/leaflet/leafletCluster/MarkerCluster.Default.css")
    script(src='/leaflet/leaflet.js')
    script(src="/leaflet/leafletCluster/leaflet.markercluster.js")
    script(src='/jquery/jquery.min.js')
    
  body
    block content
    
