body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: table;
  width: 100%;
  height: 100vh;

  overflow: hidden;
  position: relative;
}

.primeira-tela {
  position: relative;
  height: 100%;

}

/* Remover essa parte para funcionar mobile */
.nav-margin{
  margin: 0 !important;
}
.navbar-brand {
  margin: 0 !important;
  padding: 25% 0 25% 0 !important;
}
/* /remover */

.primeira-tela {

}


.buscador{

  background: url("/images/predio_exatas.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.busca-container {
  position: relative;
}

.busca-icone {

  position: absolute;
  top: 6.35rem;
  right: 3rem;
  z-index: 3;
}

.busca-icone:hover {
  background-color: black;
}

.msg{
  padding-top: 5rem;
  font-size: 7rem;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 2px;
}
.cidade{
  width: 100%;
  display: table;
}
.busca-cidade{
  margin: 5rem 0 10rem 0;
}
.icones-func{
  text-align: center;
}

.passos {
  text-align: center;
}

.redes {

}

.redes-sociais{
  position: absolute;
  bottom: 6rem;
  width: 100%;
  display: table;

}



.botao{
  margin: 1rem;
}
